.bodyHome {
    //  .plan{}
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
    background: #EFF9FF;
    .FirstTestRemind {
        position: fixed;
        top: 0;
        left: 0;
    }
    .switchTheme {
        position: absolute;
        top: 0px;
        right: 40px;
        width: 56px;
        height: 55px;
        cursor: pointer;
        z-index: 1000;
        text-align: center;
        background: url('../assets/index_icon_exchange_normal.png');
        background-size:100% 100% ;
        &:hover{
            background: url('../assets/index_icon_exchange_hover.png');
            background-size:100% 100% ;
        }
    }
    // .bottom {
    //   width: 100%;
    //   height: 100px;
    //   background: rgba(31, 44, 55, 1);
    //   overflow: hidden;
    //   position: absolute;
    //   bottom: 0;
    // }
    .changekecheng {
        position: absolute;
        width: 217px;
        height: 260px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 13px 0px rgba(230, 230, 230, 1);
        border-radius: 12px;
        z-index: 10;
        top: 35px;
        left: 130px;
        overflow: hidden;
        overflow-y: visible;
        li {
            height: 52px;
            cursor: pointer;
            text-align: center;
            line-height: 52px;
            font-size: 16px;
            span {
                font-weight: bold;
                color: #666666;
            }
        }
        li:hover {
            color: #28a1ff;
            background: #f2f2f2
        }
    }
    .xx_top_aside {
        z-index: 10;
    }
    .xx_top_aside {
        overflow-y: visible !important;
    }
    .bodyHome {
        overflow: hidden;
        font-family: "Microsoft YaHei";
        width: 100%;
        height: 100%;
        .bottom {
            margin: 0;
        }
    }
    .header {
        width: 100%;
        height: 70px;
        background: rgba(40, 161, 255, 1);
    }
    .main {
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        // overflow: hidden;
    }
    .head_main {
        display: flex;
        justify-content: space-between;
        background: rgba(40, 161, 255, 1);
    }
    .logo {
        display: flex;
        align-items: center;
        div {
            background: url('../assets/logal@2x.png');
            background-size: 100% 100%;
            width: 148px;
            height: 32px;
        }
    }
    .header_right {
        float: right;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .header_right ul {
        height: 100%;
        width: 100%;
    }
    .header_right {
        ul li {
            float: left;
            height: 100%;
            // overflow: hidden;
            line-height: 70px;
            cursor: pointer;
        }
        ul li:hover {
            background: rgba(0, 0, 0, 0.1);
            border-top: 2px #ffe61c solid;
        }
        .clickDown {
            background: rgba(0, 0, 0, 0.1);
            border-top: 2px #ffe61c solid;
        }
    }
    .header_right ul li i {
        display: inline-block;
        width: 22px;
        height: 22px;
        position: relative;
        top: 6px;
    }
    .header_right ul li span {
        height: 68px;
        line-height: 68px;
        display: inline-block;
        font-size: 18px;
        color: #ffffff;
    }
    .icon_book {
        background: url("../assets/images/FunctionCenter/index_icon_functioncenter.png");
        background-size: 100% 100%;
    }
    .report_book,
    .backtask,
    .mit_book {
        padding: 0 14px;
        position: relative;
        .personalCenter {
            position: absolute;
            z-index: 100;
            left: -14px;
            top: 69px;
            ul {
                overflow: hidden;
                background: #fff;
                width: 144px;
                box-shadow: 0px 6px 13px 0px #f5f5f5;
                border-radius: 0 0 5px 5px;
                li {
                    line-height: 50px;
                    padding-left: 16px;
                    height: 50px;
                    width: 100%;
                    .icon_glodList{
                        background: url('../assets/images/FunctionCenter/index_icon_ranklist.png');
                    }
                    .icon_glodMall{
                        background: url('../assets/images/FunctionCenter/index_icon_shoppingmall.png');
                    }
                    .icon_communication{
                        background: url('../assets/images/FunctionCenter/index_icon_interaction.png');
                    }
                    .icon_feedBack{
                        background: url('../assets/images/FunctionCenter/index_icon_feedback.png');
                    }
                    .icon_classDynamic{
                        background: url('../assets/images/FunctionCenter/index_icon_classstate.png');
                    }
                    .icon_loginReward{
                        background: url('../assets/images/FunctionCenter/index_icon_loginaward.png');
                    }
                    .icon_mitbook{
                        background: url('../assets/images/FunctionCenter/index_icon_errorbook.png');
                    }
                    .icon_reportbook{
                        background: url('../assets/images/FunctionCenter/index_icon_report.png');
                    }
                    .icon_honer{
                        background: url('../assets/images/FunctionCenter/index_icon_honor.png');
                    }
                    .icon_userInfo{
                        background: url('../assets/images/FunctionCenter/index_icon_personnaldata.png');
                    }
                    .icon_collection{
                        background: url('../assets/images/FunctionCenter/index_icon_selectbook.png');
                    }
                    i {
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        background-size: 100% 100% !important;
                        margin-right: 2px;
                    }
                    span {
                        display: inline-block;
                        font-size: 16px;
                        color: #191919;
                        margin-left: 8px;
                        line-height: 50px;
                        height: 50px;
                        font-weight: 400;
                    }
                }
                li:hover span {
                    color: #28a1ff;
                }
                li:hover {
                    background: #f2f2f2;
                    border-top: 0 !important;
                }
            }
        }
    }
    .icon_report {
        background: url("../assets/images/functionCenter/index_icon_personalcenter.png");
        background-size: 100% 100%;
    }
    .glod {
        padding: 0 13px;
    }
    .icon_glod {
        background: url("../assets/images/index_icon_goldcoin.png");
    }
    .info_pic {
        padding: 0 16px;
    }
    .info_pic img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 20px;
        // border: 2px solid #ffffff;
    }
    .close {
        padding: 0 15px;
    }
    .icon_close {
        width: 22px !important;
        height: 22px !important;
        background: url("../assets/images/index_icon_close.png");
        background-size: 100% 100%;
    }
    .center {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 30px;
    }
    .center_top {
        width: 1200px;
        height: 80px;
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;
        margin-top: 30px;
        padding: 24px 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .center_main {
        width: 1200px;
        height: 680px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    .center_top_left {
        display: flex;
        align-items: center;
        position: relative;
    }
    .kc {
        font-size: 24px;
        color: #333333;
        display: flex;
        align-items: center;
        .icon_kc{
            background: url('../assets/images/book.png');
            width: 25px;
            height: 25px;
            display: inline-block;
            background-size: 100%;
            margin-right:10px ;
        }
    }
    .gdkc {
        font-size: 14px;
        color: #666666;
        font-weight: 400;
        cursor: pointer;
        margin-left: 20px;
    }
    .gdkc:hover {
        color: #28a1ff;
    }
    .gdkc:hover~i.toggle_icon {
        background: url("../assets/images/index_icon_toggle_normal@2x.png");
        background-size: 100% 100%;
    }
    .toggle_icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url("../assets/images/index_icon_toggle_normal.png");
        margin-left: 3px;
    }
    .kcjd {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        margin-left: 32px;
    }
    .jdt {
        display: flex;
        background: #EEEEEE;
        height: 6px;
        width: 240px;
        border-radius: 7px;
        margin-left: 11px;
        position: relative;
        .icon_point{
            top: -2px;
            position: absolute;
            width: 10px;
            height: 10px;
            background: #ffffff;
            border: 3px solid #28a1ff;
            border-radius: 50%;
        }
        .isgray{
            border: 3px solid #EEEEEE;
        }
        span {
            display: inline-block;
            background: #28a1ff;
            height: 7px;
            border-radius: 7px;
            width: 20px;
        }
    }
    .mar1 {
        font-size: 16px;
        font-weight: bold;
        margin-left: 15px;
        color: #28a1ff;
    }
    .mar2 {
        font-size: 13px;
        margin-left: 6px;
    }
    .center_top_right {
        font-size: 16px;
        color: #666666;
        height: 100%;
        line-height: 32px;
        cursor: pointer;
        display: flex;
        .center_top_right_span {
            margin-left: 30px;
            line-height: 22px;
            display: flex;
            align-items: center;
            .icon_knowMap,.icon_bookTest{
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 10px;
            }
            .icon_knowMap{
                background: url('../assets/images/icon_knowMap_normal.png');
                background-size: 100% 100%;
            }
            .icon_bookTest{
                background: url('../assets/images/icon_bookTest_normal.png');
                background-size: 100% 100%;
            }
            &:hover{
                .icon_knowMap{
                    background: url('../assets/images/icon_knowMap_hover.png');
                    background-size: 100% 100%;
                }
                .icon_bookTest{
                    background: url('../assets/images/icon_bookTest_hover.png');
                    background-size: 100% 100%;
                }
            }
        }
    }
    .center_top_right span:hover {
        color: #28a1ff;
    }
    .toggle_icon2 {
        background: url("../assets/images/index_icon_toggle_click.png");
    }
    
    .section_left {
        width: 270px;
        height: 100%;
        background: #fff;
        padding: 24px;
        border-radius: 10px;
        .h3{
            font-size: 16px;
            color: #666666;
            font-weight: 400;
            padding-bottom: 30px;
            background: #fff;
        }
        .chapterList{
            width: 270px;
            height: 600px;
            overflow-y: auto;
            padding-bottom: 30px;
            margin-left: -24px;
            .chapter{
                cursor: pointer;
                position: relative;
                .chapter_p{
                    padding: 15px 24px;
                    font-size: 18px;
                    color: #666;
                    .chapter_icon{
                        font-weight: 600;
                        margin-right: 8px;
                        float: right;
                    }
                }
                .sectionList{
                    font-weight: normal;
                    display: none;
                    margin-top: 4px;
                    padding-left: 24px;
                    .section{
                        padding-left:20px;
                        color: #999;
                        .line{
                            width: 1px;
                            height: 30px;
                            border-left: 1px dotted #666666;
                            margin-left: 7px;
                        }
                        p{
                            display: flex;
                            align-items: center;
                            padding: 1px 0;
                            font-size: 16px;
                            i{
                                width: 16px;
                                height: 16px;
                                margin-right: 8px;
                            }
                            .icon_learn_no{
                                background: url('../assets/images/icon_sectionStatus_normal.png');
                                background-size: 100%;
                            }
                            .icon_video_play{
                                background: url('../assets/images/icon_sectionStatus_play.png');
                                background-size: 100%;
                            }

                            .icon_circle_check{
                                background: url('../assets/images/icon_sectionStatus_right.png');
                                background-size: 100%;
                            }
                            .icon_tickets{
                                width: 13px;
                                height: 16px;
                                background: url('../assets/images/icon_sectionStatus_chapterReport.png');
                                background-size: 100%;
                                margin:0 8px 0 2px;
                            }
                            .el-icon-learn-no{
                                width: 21px;
                                height: 21px;
                                border-radius: 50%;
                                border: 1px solid #666666;
                            }
                            .text {
                                display: inline-block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 158px;
                                position: relative;
                                height: 22px;
                                span {
                                    overflow: hidden;
                                    transition: left 1s;
                                    position: initial;
                                    left: 0;
                                }
                            }
                        }
                    }
                    
                }
            }
            .isChapter{
                .chapter_p{
                    border-left: 3px solid #28a1ff;
                    background: rgba($color: #28a1ff, $alpha: 0.1);
                }
                .chapterName,.chapter_icon{
                    color: #28a1ff;
                }
                .sectionList{
                    display: block;
                    .isSection{
                        color: #28a1ff;
                    }
                }
            }
        }
    }
    .section_right {
        width: 906px;
        height: 100%;
        padding-left: 16px;
        background: #fff;
        border-radius: 10px;
        padding: 24px;
        margin-left: 24px;
        .h3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            .sectionName{
                color: #333;
                font-size: 20px;
            }
            .sectionReport{
                display: flex;
                align-items: center;
                color: #666666;
                font-size: 14px;
                cursor: pointer;
                &:hover{
                    color: #28a1ff;
                    .icon_sectionReport{
                        background: url('../assets/images/icon_sectionReport_hover.png');
                    }
                }
                .icon_sectionReport{
                    display: inline-block;
                    width: 16px;
                    height: 18px;
                    background: url('../assets/images/icon_sectionReport.png');
                    background-size:100% 100% ;
                    margin-right: 5px;

                }
            }
        }
        .section_right_main{
            width: 564px;
            height: 370px;
            margin: 114px auto 0;
            position: relative;
            .smartLearnTraining,
            .sectionTest,
            .chapterReport,
            .chapterTest{
                position: absolute;
                width: 564px;
                height: 140px;
                padding:41px 40px 24px 33px ;
                background: #fff;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .smartLearnTraining,
            .chapterReport{
                top: 0;
                .smartLearnTraining_p,
                .chapterReport_p{
                    .icon_smartLearnTrain,
                    .icon_chapterReport{
                        display: inline-block;
                        width: 75px;
                        height: 75px;
                        background: url('../assets/images/icon_smartLearnTrain.png');
                        background-size: 100% 100%;
                        margin-right: 12px;
                    }
                    span{
                        position: relative;
                        font-size: 32px;
                        color: #333;
                        top: -35px;
                    }
                }
                .icon_right{
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    background: url('../assets/images/icon_right.png');
                    background-size: 100% 100%;
                    position: relative;
                    top: -10px;
                }
                .gressLearn{
                    position: absolute;
                    bottom: 0;
                    left: 5px;
                    height: 5px;
                    background: #FFD05D;
                    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.04);
                    border-radius: 5px;
                }
            }
            .sectionTest,
            .chapterTest{
                bottom: 0;
                .sectionTest_p,
                .chapterTest_p{
                    .icon_sectionTest,
                    .icon_chapterTest{
                        display: inline-block;
                        width: 75px;
                        height: 75px;
                        background: url('../assets/images/icon_sectionTest.png');
                        background-size: 100% 100%;
                        margin-right: 12px;
                    }
                    span{
                        position: relative;
                        font-size: 32px;
                        color: #333;
                        top: -35px;
                    }
                }
                .icon_right{
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    background: url('../assets/images/icon_right.png');
                    background-size: 100% 100%;
                    position: relative;
                    top: -10px;
                }
                .gressLearn{
                    position: absolute;
                    bottom: 0;
                    left: 5px;
                    height: 5px;
                    background: #FFD05D;
                    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.04);
                    border-radius: 5px;
                }
                .testPoint{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    left: 442px;
                    padding: 10px 10px;
                    border-radius:50% ;
                    width: 70px;
                    height: 70px;
                    .testPointMsg{
                        font-size: 12px;
                    }
                    .testPointNum{
                        font-family: 'u_DIN 1451 Mittelschrift';
                        font-weight: bold;
                        font-size: 28px;
                    }
                }
                .noTest{
                    .noTestMsg{
                        font-size: 24px;
                        color: #888888;
                    }
                }
                .normalTest{
                    .testPointMsg{
                        color: #333333;
                    }
                    .testPointNum{
                        color: #888888;
                    }
                    background: linear-gradient(179deg, #D6D6D6, #F4F4F4, #F7F7F7);
                }
                .greatTest{
                    .testPointMsg{
                        color: #666666;
                    }
                    color: #21DFB8;
                    background: linear-gradient(179deg, #DFFDFB, #E6FDFB, #F2FEFD);
                }
                
            }
        }   
        
    }
    .footer {
        width: 1920px;
        height: 100px;
        background: rgba(31, 44, 55, 1);
        overflow: hidden;
    }
    .footer div {
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        color: #cdcdcd;
    }
    .footer div:nth-child(1) {
        margin-top: 29px;
    }
    .footer div:nth-child(2) {
        margin-top: 17px;
    }
    .bottom {
        position: absolute;
        width:100%;
        height: 40px;
        background: rgba(31, 44, 55, 1);
        bottom: 0;
      }
      .kun {
          width: 100%;
          height: 6px;
          background: #28a1ff;
        }
      
      .bottom p {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #cdcdcd;
        margin-top:8px;
      }
      .relativeBottom{
          position: relative;
        }
    // .Notplan{
    //   display: none;
    // }
}